<style type="text/css">
.content{
	background-color: white;
	margin-top: -31px;
	padding-bottom: 45px;
}

p,h3,b,ul{
  margin-left: 20px;
}
</style>
<div class = "content">

<h3>About This Blog</h3>
<p>Welcome to my blog; well i came up with this blog so that I can share my thoughts with people in the hope that they will benefit from my thoughts in one way or the other.Therefore feel free to take a tour.</p>

<h3> Personal Biography </h3>
<p>I live in kampala,Uganda. I went to Makerere University and graduated in January 2014 with a bachelors in software Engineering. I love God , coding and solving problems.I am very curious.I love to use software to solve problems(pressing needs in the world). I also like flying planes.... yes I fly them on my computer.I also love playing video games and camping.</p>
<p> I have a passion for robotics and electronics(embedded systems).Am also passionate about women in Technology and  Women that love God.I believe women can be techies and  design solutions for the world. They only need to be resolute and resilient not to give up even when they have every reason to.
<h3> Proffessional Biography </h3>
<p>I began coding in late 2010 by then with hobby projects and projects for competitions out of curiosity. I did not really dream of being a developer but I began wondering how software that ran on my computer came to be...and cant I make my own ? what abilities do I lack that those other devs have?. That was the genesis of my coding career . I have  contributed to a couple of other projects since then and am currently working on an application that provides a platform for visualizing data on violence against women <a href="">DesignForWomen</a>. I love conducting trainings and opportunities for sharing what I know.I hate monotony and procrastination; I therefore enjoy working on things that expose me to new challenges. I get more satisfaction in my work when i develop something that people will find joy using. I dont like working on an app people wont use.</p>
<p>I value reliability in software and i believe this is an attribute that must never be compromised.</p>
<b>Favorite Technologies</b>
<p>Ruby,Rails,python,Django,ASP.NET MVC,Arduino.</p>

<b>My Strengths:</b>
<ul>
  <li></li>
  <li>Logic</li>
  <li> Fast understanding of complex Ideas.</li>
  <li> System analysis.</li>
</ul>
<h3> Connect with me on:</h3>
<p>Twitter: @CaptainJoannah </p>
<p>Skype: joannah.nanjekye</p>





</div>