<style type="text/css">
.content{
	background-color: white;
	margin-top: -14px;
	padding-bottom: 45px;
}
p{
	margin-left: 20px;
}
</style>



	
	<div class = "content">

	
		<p> <b>My Contributions:</b></p>
		<p><a href="http://laboremus.no/"> Laboremus Website Redesign </p>
		<p><a href="http://training.laboremus.no/delarka2/"> Delarka </p>
	

	</div>


